<div class="todo-row">
  <mat-card>
    <h1>To do list</h1>
    <form [formGroup]="todoForm">
      <mat-form-field appearance="outline">
        <mat-label>Input</mat-label>
        <input formControlName="item" matInput placeholder="Input to do" />
      </mat-form-field>
      <button (click)="addTodo()" class="add-btn">Add</button>
    </form>
  </mat-card>
</div>

<!-- <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column">
        <h2 class="column-title">
          To do
          <span *ngIf="todos.length > 0">{{ todos.length }}</span>
        </h2>
        <div
          cdkDropList
          [cdkDropListData]="todos"
          class="tasks-container"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task" *ngFor="let item of todos; let idx = index" cdkDrag>
            {{ item.name }}
            <div class="box">
              <button mat-icon-button color="warn" (click)="removeTodo(idx)">
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="onEdit(item, idx)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="board-column">
      <h2 class="column-title">
        Inprogress
        <span *ngIf="inprogress.length > 0">{{ inprogress.length }}</span>
      </h2>
      <div
        cdkDropList
        [cdkDropListData]="inprogress"
        class="tasks-container"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="task"
          *ngFor="let item of inprogress; let idx = index"
          cdkDrag
        >
          {{ item.name }}
          <div class="box">
            <button
              mat-icon-button
              color="warn"
              (click)="removeInprogress(idx)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="board-column">
      <h2 class="column-title">
        Complete
        <span *ngIf="complete.length > 0">{{ complete.length }}</span>
      </h2>
      <div
        cdkDropList
        [cdkDropListData]="complete"
        class="tasks-container"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="task"
          *ngFor="let item of complete; let idx = index"
          cdkDrag
        >
          {{ item.name }}
          <div class="box">
            <button mat-icon-button color="warn" (click)="removeComplete(idx)">
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="board-wrapper">
  <div class="board-columns" cdkDropListGroup>
    <div class="board-column">
      <div class="column-title">To do
        <span *ngIf="todos.length > 0">- {{ todos.length }}</span>
      </div>

      <div
        class="tasks-container"
        cdkDropList
        [cdkDropListData]="todos"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="task" *ngFor="let item of todos; let idx = index" cdkDrag>
          {{item.name}}
          <div class="task-btn">
            <button class="btn-icon" mat-icon-button color="warn" (click)="removeTodo(idx)">
              <mat-icon matSuffix style="font-size: 18px;">delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="onEdit(item, idx)"
              class="btn-icon"
              >
              <mat-icon matSuffix style="font-size: 18px;">edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">In Progress
        <span *ngIf="inprogress.length > 0">- {{ inprogress.length }}</span>
      </div>
      <div
        class="tasks-container"
        cdkDropList
        [cdkDropListData]="inprogress"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="task" *ngFor="let item of inprogress; let idx = index" cdkDrag>
          {{item.name}}
          <div class="task-btn">
            <button
              mat-icon-button
              color="warn"
              (click)="removeInprogress(idx)"
            >
              <mat-icon class="btn-icon" style="font-size: 18px;">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="board-column">
      <div class="column-title">Complete
        <span *ngIf="complete.length > 0">- {{ complete.length }}</span>
      </div>
      <div
        class="tasks-container"
        cdkDropList
        [cdkDropListData]="complete"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="task" *ngFor="let item of complete; let idx = index" cdkDrag>
          {{item.name}}
          <div class="task-btn">
            <button mat-icon-button color="warn" (click)="removeComplete(idx)">
              <mat-icon class="btn-icon" style="font-size: 18px;">delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon class="btn-icon" style="font-size: 18px;">check_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


