<h1 mat-dialog-title>Edit To do</h1>
<div mat-dialog-content>
  <form [formGroup]="todoForm">
    <mat-form-field appearance="outline">
      <mat-label>Edit name</mat-label>
      <input formControlName="item" formControlName="item"  matInput placeholder="Placehoder" />
    </mat-form-field>
  </form>

</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="updateTodo()">Update</button>
</div>
